

html,
body {
	width: 400px;
	height: 400px;
	overflow: hidden;
	font-family: 'Trebuchet MS', sans-serif;
	padding: 10px
}
html {
	outline: 2px #ff6200;
	padding: 0px;
}

body {
	padding: 10px;
}

h1#title {
	text-align: center;
	background: #ff6200;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.button {
	background-color: #ff6200;
	color: white;
	font-size: 16px;
	padding: 12px 28px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	border: none;
	align-self: center;
}

.button2:hover {
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.center {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}